@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

span, li, h1, h2, h3, p, button {
    font-family: 'Roboto';
}

.header, .info, .quote-section, .signup, .footer {
    width: 1200px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    padding-top: 10px;
    height: 450px;
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    margin-bottom: 50px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.hero-subtext {
    margin: 5px 0px;
    font-size: 18px;
    color: #E5E7EB;
}

.left, .right {
    width: 400px;
    height: 215px;
}

.left {
    margin-right: 40px;
}

.right {
    background-color: #999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-container {
    display: flex;
    gap: 30px;
}

.box {
    width: 100px;
    height: 100px;
    border: 2px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;
}

.packet {
    width: 100px;
    text-align: center;
    font-size: 12px;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 7px;
}

.random {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info {
    height: 330px;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.quote-container {
    width: 480px;
    display: flex;
    flex-direction: column;
}

.quote-reference {
    margin: 0;
    align-self: flex-end;
    font-weight: 600;
}

.blue-box {
    width: 600px;
    height: 125px;
    background-color: #3882F6;
    padding: 0px 100px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

.footer {
    background-color: #1F2937;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: #E5E7EB;
}

.otherbutton {
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    height: 30px;
    padding: 5px 25px;
}

.action {
    margin: 3px 0px;
}

.signup-text {
    margin: 3px 0px;
}

.signup-header {
    color: white;
}